{% extends "templates/structure/_base.html" %}

{% load envelope_tags %}


{% load staticfiles %}

{% block extraHeader %}
    <link rel="stylesheet" type="text/css" href="{% static 'style/css/contact/contact_style.css' %}" />
{% endblock %}

{% block script_de_fin %}
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAnF6Kt_hRql9eZZ96grbJ6J663J-33lhU&callback=initMap"
    async defer></script>
<script type="text/javascript" src="{% static 'js/map.js' %}"></script>

{% endblock %}

{% block content %}
<div id="map" style=""></div>
    <script>
function initMap() {
    // Create an array of styles.
    var myLatLng = new google.maps.LatLng(46.523445, 6.899624);
    var styles = [
    {
        stylers: [
                { hue: "#00c0b5" },
                { saturation: -20 }
            ]
        },
        {
            featureType: "road",
            elementType: "geometry",
            stylers: [
                { lightness: 100 },
                { visibility: "simplified" }
            ]
        },
        {
            featureType: "road",
            elementType: "labels",
            stylers: [
                { visibility: "off" }
            ]
        }
    ];



    // Create a new StyledMapType object, passing it the array of styles,
    // as well as the name to be displayed on the map type control.
    var styledMap = new google.maps.StyledMapType(styles,{name: "Styled Map"});

    // Create a map object, and include the MapTypeId to add
    // to the map type control.
    var mapOptions = {
        zoom: 11,
        center: new google.maps.LatLng(46.523445, 6.899624),
        mapTypeControlOptions: {
            mapTypeIds: [google.maps.MapTypeId.ROADMAP, 'map_style']
        }
    };
    var map = new google.maps.Map(document.getElementById('map'),
        mapOptions);

    //Associate the styled map with the MapTypeId and set it to display.
    map.mapTypes.set('map_style', styledMap);
    map.setMapTypeId('map_style');

    var marker = new google.maps.Marker({
        position: myLatLng,
        map: map,
        icon: {
        path: google.maps.SymbolPath.BACKWARD_CLOSED_ARROW,
        scale: 4,
        strokeColor:'#00c0b5'
        },
        title: 'Opto Logic Technology S.A.'
    });

    var contentString =
    '<div id="content" class=uk-panel>'+
        '<a id="firstHeading" class="firstHeading"><img src="{% static 'img/logo_opto_250x51.png' %}"></a>'+
        '<div id="bodyContent">'+
            '<address class="" >'+
                '<br>'+
                '<div class="uk-grid">'+
                    '<div class=uk-width-1-2>'+
                        'Route de Vevey 105<br>'+
                        '1618 Chatel-St-Denis<br>'+
                        'Switzerland<br>'+
                    '</div>'+
                    '<div class=uk-width-1-2>'+
                        '<a href="tel:+41219482080"><i class="uk-icon-phone"></i>  +41 21 948 20 80</a>  <br>'+
                        '<a href="tel:+41219482088"><i class="uk-icon-fax"></i> +41 21 948 20 88</a> <br><br>'+
                    '</div>'+
                '</div>'+
            '</address>'+
        '</div>'+
    '</div>';

    var infowindow = new google.maps.InfoWindow({
            content: contentString
    });


    marker.addListener('click', function() {
        infowindow.open(map, marker)
    });
    infowindow.open(map,marker);
    }
    google.setOnloadCallback(initMap);

</script>

<div class="uk-container uk-container-center">
    <!-- BREAD CRUMBS -->
    <div id="goto-1st" class="uk-grid uk-margin-bottom uk-margin-top ">

    </div>

        <div class="uk-container uk-container-center ">
        <div class="uk-grid">
            {% block form %}
                {% render_contact_form %}
                <div class="g-recaptcha" data-sitekey="6LdapxsTAAAAAOCWquDtj1jLin7xC0W8ZZfEZ6xM"></div>
            {% endblock %}
        </div>
    </div>

    <div class="uk-grid ">
        <div class="uk-width-1-2 uk-container-center ">
            <h1 class="">Let&prime;s talk. Or meet in person.</h1>
            <p class="">
                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat
                nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
                mollit anim id est laborum.
            </p>
        </div>
        <div class="uk-width-1-2 uk-container-center ">
            <h1>OPTO Logic TECHNOLOGY S.A.</h1>
            <address class="uk-grid " >
                <div class="">
                    Route de Vevey 105<br>
                    1618 Chatel-St-Denis<br>
                    Switzerland<br>
                    <a href="tel:+41219482080"><i class="uk-icon-phone"></i>  +41 21 948 20 80</a>  <br>
                    <a href="tel:+41219482088"><i class="uk-icon-fax"></i> +41 21 948 20 88</a> <br><br>
                </div>
            </address>
        </div>

    </div>

</div>

{% endblock %}
