{% load staticfiles %}
<!---------- ----------><!---------- ----------><!---------- ----------><!---------- ----------><!---------- ---------->
<!----------                            START SECTION 4                                                      ---------->
<!---------- ----------><!---------- ----------><!---------- ----------><!---------- ----------><!---------- ---------->
<div id="4th_section" class="">
    <div id="parallax-box" class=" bg-parallax-2" data-uk-parallax="{bg: '-500'}">
        <div class="wow uk-container uk-container-center uk-align-center uk-contrast uk-hidden-small">
            <div class="uk-text-center ">
                <h2 class="wow fadeInDown" data-wow-offset="600">Vestibulum a luctus dui.</h2>
            </div>
            <div class="uk-grid">
                <div class="wow lightSpeedIn uk-width-1-2 wow "
                     data-wow-offset="600">
                    <p class=" uk-text-justify">
                        Donec non laoreet lectus, sed pulvinar neque. Sed et porttitor dui. Phasellus
                        nec mauris rhoncus,fringilla dolor sed, fringilla orci. Aenean in felis auctor,
                        eleifend nunc vel, vulputate sem. Maecenas malesuada tortor augue, at auctor
                        dolor vestibulum a. Sed sit amet fermentum mauris. Phasellus posuere auctor
                        nisi, id molestie sem blandit id. Vestibulum a luctus dui. Aliquam ullamcorper
                        quam maximus rhoncus gravida. Fusce accumsan lectus nec tristique sollicitudi.
                    </p>
                </div>
                <div class="uk-width-1-2">
                    <img class="wow lightSpeedIn" id="img-para" src="{% static 'img/slideshow_overlay_pic.png' %}"
                          data-wow-offset="600" width="auto">
                </div>
            </div>
        </div>
        <div class="uk-visible-small uk-container uk-container-center uk-contrast  uk-panel" data-uk-parallax="{target:'#parallax-box',yp: '10', velocity: '1', viewport: '1'}" >
            <h2> Our revolutionary Displays</h2>
            <p class="uk-text-justify">
                Donec non laoreet lectus, sed pulvinar neque. Sed et porttitor dui. Phasellus nec mauris rhoncus,
                fringilla dolor sed, fringilla orci. Aenean in felis auctor, eleifend nunc vel, vulputate sem.
                Maecenas malesuada tortor augue, at auctor dolor vestibulum a. Sed sit amet fermentum mauris.
                Phasellus posuere auctor nisi, id molestie sem blandit id. Vestibulum a luctus dui. Aliquam
                ullamcorper quam maximus rhoncus gravida. Fusce accumsan lectus nec tristique sollicitudi
            </p>
            <div class="uk-width-1-2">
                <h2></h2>
            </div>
        </div>
    </div>
</div>
