<!---------- ----------><!---------- ----------><!---------- ----------><!---------- ----------><!---------- ---------->
<!----------                            START SECTION 2                                                      ---------->
<!---------- ----------><!---------- ----------><!---------- ----------><!---------- ----------><!---------- ---------->
<div id="2nd_section" class="bg-parallax-1" data-uk-parallax="{bg: '0'}">
        <div id="parallax-box" class="uk-panel uk-align-center" >
            <div id="scene2" class="overlay-index-parallax  uk-container-center
            uk-hidden-small uk-contrast  uk-width-small-1-1 uk-panel
                uk-width-medium-2-3 uk-width-large-2-3">
                <h2> We provide you our experience for your own project</h2>
                <div id="quote"> Our colaborators are there to help you to develop your own project with our experience,
                    fringilla dolor sed, fringilla orci. Aenean in felis auctor, eleifend nunc vel, vulputate sem.
                    Maecenas malesuada tortor augue, at auctor dolor vestibulum a. Sed sit amet fermentum mauris.
                    Phasellus posuere auctor nisi, id molestie sem blandit id. Vestibulum a luctus dui. Aliquam
                    ullamcorper quam maximus rhoncus gravida. Fusce accumsan lectus nec tristique sollicitudi
                </div>
            </div>
            <div id="scene21" class="parallax-panel overlay-index-parallax scene2 uk-visible-small
            uk-contrast uk-overlay-background uk-width-small-1-1 uk-panel uk-panel-box-parallax" >
                <h2> We provide you our experience for your own project</h2>
                <div id="quote2"> Our colaborators are there to help you to develop your own project with our experience,
                    fringilla dolor sed, fringilla orci. Aenean in felis auctor, eleifend nunc vel, vulputate sem.
                    Maecenas malesuada tortor augue, at auctor dolor vestibulum a. Sed sit amet fermentum mauris.
                    Phasellus posuere auctor nisi, id molestie sem blandit id. Vestibulum a luctus dui. Aliquam
                    ullamcorper quam maximus rhoncus gravida. Fusce accumsan lectus nec tristique sollicitudi
                </div>
            </div>
        </div>
</div>