{% load staticfiles %}
<div id="5th_section">
    <div class="uk-grid">
        <div class="uk-width-small-1-2 uk-width-medium-1-4 uk-width-large-1-4">
             <div class="w3-card-4 w3-card-teal">
                <img src="{% static 'img/opto_pics/filling_pic00.png' %}" alt="Norway">
                <div class="w3-container w3-center">
                    <p>The Troll's tongue in Hardanger, Norway</p>
                </div>
            </div>
        </div>
        <div class="uk-width-small-1-2 uk-width-medium-1-4 uk-width-large-1-4">
             <div class="w3-card-4">
                <img src="{% static 'img/opto_pics/filling_pic00.png' %}" alt="Norway">
                <div class="w3-container w3-center">
                    <p>The Troll's tongue in Hardanger, Norway</p>
                </div>
            </div>
        </div>
        <div class="uk-width-small-1-2 uk-width-medium-1-4 uk-width-large-1-4">
             <div class="w3-card-4">
                <img src="{% static 'img/opto_pics/filling_pic00.png' %}" alt="Norway">
                <div class="w3-container w3-center">
                    <p>The Troll's tongue in Hardanger, Norway</p>
                </div>
            </div>
        </div>
        <div class="uk-width-small-1-2 uk-width-medium-1-4 uk-width-large-1-4">
             <div class="w3-card-4">
                <img src="{% static 'img/opto_pics/filling_pic00.png' %}" alt="Norway">
                <div class="w3-container w3-center">
                    <p>The Troll's tongue in Hardanger, Norway</p>
                </div>
            </div>
        </div>
    </div><!-- end 5rd_products -->
</div>