{% load staticfiles %}
<div id="5th_section">
    <div class="uk-grid">
        <div class="uk-width-small-1-2 uk-width-medium-1-4 uk-width-large-1-4">
            <figure class="uk-overlay uk-overlay-hover">
                <img class="uk-overlay-spin" src="{% static 'img/opto_pics/filling_pic00.png' %}" alt="Image" height="400" width="600">
                <figcaption class="uk-overlay-panel uk-overlay-background uk-overlay-bottom uk-overlay-slide-bottom">
                    <p>Your Title Here.</p>
                </figcaption>
            </figure>
        </div>
        <div class="uk-width-small-1-2 uk-width-medium-1-4 uk-width-large-1-4">
            <figure class="uk-overlay uk-overlay-hover">
                <img class="uk-overlay-spin" src="{% static 'img/opto_pics/filling_pic00.png' %}" alt="Image" height="400" width="600">
                <figcaption class="uk-overlay-panel uk-overlay-background uk-overlay-bottom uk-overlay-slide-bottom">
                    <p>Your Title Here.</p>
                </figcaption>
            </figure>
        </div>
        <div class="uk-width-small-1-2 uk-width-medium-1-4 uk-width-large-1-4">
            <figure class="uk-overlay uk-overlay-hover">
                <img class="uk-overlay-spin" src="{% static 'img/opto_pics/filling_pic00.png' %}" alt="Image" height="400" width="600">
                <figcaption class="uk-overlay-panel uk-overlay-background uk-overlay-bottom uk-overlay-slide-bottom">
                    <p>Your Title Here.</p>
                </figcaption>
            </figure>
        </div>
        <div class="uk-width-small-1-2 uk-width-medium-1-4 uk-width-large-1-4">
            <figure class="uk-overlay uk-overlay-hover">
                <img class="uk-overlay-spin" src="{% static 'img/opto_pics/filling_pic00.png' %}" alt="Image" height="400" width="600">
                <figcaption class="uk-overlay-panel uk-overlay-background uk-overlay-bottom uk-overlay-slide-bottom">
                    <p>Your Title Here.</p>
                </figcaption>
            </figure>
        </div>
    </div><!-- end 5rd_products -->
</div>