{% load staticfiles %}
<!---------- ----------><!---------- ----------><!---------- ----------><!---------- ----------><!---------- ---------->
<!----------                                  SlideShow                                                      ---------->
<!---------- ----------><!---------- ----------><!---------- ----------><!---------- ----------><!---------- ---------->

<!-- <div id="products_slideshow" class="" >
    <div class="uk-slidenav-position" data-uk-slideshow="{autoplay:true}">
        <ul class="uk-slideshow"  data-uk-slideshow="{animation: 'random-fx'}">
            <li>
                <img src="{% static 'img/_slideshow/ss_pic_2.JPG' %}">
                <div class="uk-flex-column uk-overlay-panel  uk-overlay-background uk-flex uk-flex-center uk-flex-middle uk-text-center">
                    <h1 class="uk-animation-scale-up">Custom Solutions</h1>
                    <p class="uk-animation-scale-up">We help you to develop your thoughts</p>
                </div>
            </li>
            <li>
                <img src="{% static 'img/_slideshow/ss_pic_3.JPG' %}">
                <div class="uk-flex-column uk-overlay-panel  uk-overlay-background uk-flex uk-flex-center uk-flex-middle uk-text-center">
                    <h1 class="uk-animation-scale-up">Custom Solutions</h1>
                    <p class="uk-animation-scale-up">We help you to develop your thoughts</p>
                </div>
            </li>
            <li>
                <img src="{% static 'img/_slideshow/ss_pic_4.JPG' %}">
                <div class="uk-flex-column uk-overlay-panel  uk-overlay-background uk-flex uk-flex-center uk-flex-middle uk-text-center">
                    <h1 class="uk-animation-scale-up">Custom Solutions</h1>
                    <p class="uk-animation-scale-up">We help you to develop your thoughts</p>
                </div>
            </li>
            <li>
                <img src="{% static 'img/_slideshow/ss_pic_5.JPG' %}">
                <div class="uk-flex-column uk-overlay-panel  uk-overlay-background uk-flex uk-flex-center uk-flex-middle uk-text-center">
                    <h1 class="uk-animation-scale-up">Custom Solutions</h1>
                    <p class="uk-animation-scale-up">We help you to develop your thoughts</p>
                </div>
            </li>
        </ul>
        <a href="" class="uk-slidenav uk-slidenav-contrast uk-slidenav-previous" data-uk-slideshow-item="previous"></a>
        <a href="" class="uk-slidenav uk-slidenav-contrast uk-slidenav-next" data-uk-slideshow-item="next"></a>
    </div>

</div> -->
<!---------- ----------><!---------- ----------><!---------- ----------><!---------- ----------><!---------- ---------->
<!----------                                  SlideShow                                                      ---------->
<!---------- ----------><!---------- ----------><!---------- ----------><!---------- ----------><!---------- ---------->
<div id="owl-index" class="owl-carousel owl-theme">
    <div class="item">
        <img class="lazyOwl" src="{% static 'img/_slideshow/ss_pic_2.JPG' %}">
        <div class="uk-flex-column uk-overlay-panel  uk-overlay-background uk-flex uk-flex-center uk-flex-middle uk-text-center">
            <h1 class="uk-animation-scale-up">Custom Solutions</h1>
            <p class="uk-animation-scale-up">We help you to develop your thoughts</p>
        </div>
    </div>
    <div class="item">
        <img class="lazyOwl" src="{% static 'img/_slideshow/ss_pic_3.JPG' %}">
        <div class="uk-flex-column uk-overlay-panel  uk-overlay-background uk-flex uk-flex-center uk-flex-middle uk-text-center">
            <h1 class="uk-animation-scale-up">Custom Solutions</h1>
            <p class="uk-animation-scale-up">We help you to develop your thoughts</p>
        </div>
    </div>
    <div class="item">
        <img class="lazyOwl" src="{% static 'img/_slideshow/ss_pic_4.JPG' %}">
        <div class="uk-flex-column uk-overlay-panel  uk-overlay-background uk-flex uk-flex-center uk-flex-middle uk-text-center">
            <h1 class="uk-animation-scale-up">Custom Solutions</h1>
            <p class="uk-animation-scale-up">We help you to develop your thoughts</p>
        </div>
    </div>
    <div class="item">
        <img class="lazyOwl" src="{% static 'img/_slideshow/ss_pic_5.JPG' %}">
        <div class="uk-flex-column uk-overlay-panel  uk-overlay-background uk-flex uk-flex-center uk-flex-middle uk-text-center">
            <h1 class="uk-animation-scale-up">Custom Solutions</h1>
            <p class="uk-animation-scale-up">We help you to develop your thoughts</p>
        </div>
    </div>
</div> <!---->





