{% load staticfiles %}
<!---------- ----------><!---------- ----------><!---------- ----------><!---------- ----------><!---------- ---------->
<!----------                                  SlideShow                                                      ---------->
<!---------- ----------><!---------- ----------><!---------- ----------><!---------- ----------><!---------- ---------->
<div id="owl-example" class="owl-carousel">
    <div class="">
        <figure class="uk-overlay uk-overlay-hover pin2" id="">
            <img class="" src="{% static 'img/_slideshow/ss_pic_2.JPG' %}" alt="img">
            <figcaption class="uk-contrast uk-ignore uk-overlay-panel-slideshow-2 ">

            </figcaption>
        </figure>
    </div>

    <div>
        <img src="{% static 'img/_slideshow/ss_pic_3.JPG' %}">
    </div>
    <div>
        <img src="{% static 'img/_slideshow/ss_pic_4.JPG' %}">
    </div>
    <div>
        <img src="{% static 'img/_slideshow/ss_pic_5.JPG' %}">
    </div>
</div>

