<div id="div_footer" class="footer">
    <div class="uk-container uk-container-center">
        <div class="uk-grid uk-margin-top uk-contrast">
            <div class="uk-width-2-5">
                <address>
                    <h4>OPTO Logic TECHNOLOGY S.A.</h4><br>
                    Route de Vevey 105<br>
                    CH-1618 Chatel-St-Denis<br>
                    <a href="tel:+41219482080" class="uk-contrast"><i class="uk-icon-phone"></i> +41 21 948 20 80</a>  <br>
                    <a href="tel:+41219482088" class="uk-contrast"><i class="uk-icon-fax"></i> +41 21 948 20 88</a> <br><br>
                    <a href="{% url 'contact_page' %}" class="uk-button"><i class="uk-icon-envelope-o"></i>Contact us</a>
                </address>
            </div>
            <div class="uk-width-1-5">
                <h4>Displays</h4>
                <ul class="uk-list">
                    <li><a href="#" class="uk-contrast"><i class="uk-icon-link"></i> TFT</a></li>
                    <li><a href="#" class="uk-contrast"><i class="uk-icon-link"></i> LCD Segment</a></li>
                    <li><a href="#" class="uk-contrast"><i class="uk-icon-link"></i> LCD Graphic</a></li>
                    <li><a href="#" class="uk-contrast"><i class="uk-icon-link"></i> OLED</a></li>
                    <li><a href="#" class="uk-contrast"><i class="uk-icon-link"></i> ePAPER</a></li>
                    <li><a href="#" class="uk-contrast"><i class="uk-icon-link"></i> Custom Displays</a></li>
                </ul>
            </div>
            <div class="uk-width-1-5">
                <h4>Products</h4>
                <ul class="uk-list">
                    <li><a href="#" class="uk-contrast"><i class="uk-icon-link"></i> TFT</a></li>
                    <li><a href="#" class="uk-contrast"><i class="uk-icon-link"></i> LCD</a></li>
                    <li><a href="#" class="uk-contrast"><i class="uk-icon-link"></i> OLED</a></li>
                    <li><a href="#" class="uk-contrast"><i class="uk-icon-link"></i> Tartes aux pommes</a></li>
                    <li><a href="#" class="uk-contrast"><i class="uk-icon-link"></i> Citrons</a></li>
                </ul>
            </div>
            <div class="uk-width-1-5">
                <h4>Products</h4>
                <ul class="uk-list">
                    <li><a href="#" class="uk-contrast"><i class="uk-icon-link"></i> TFT</a></li>
                    <li><a href="#" class="uk-contrast"><i class="uk-icon-link"></i> LCD</a></li>
                    <li><a href="#" class="uk-contrast"><i class="uk-icon-link"></i> OLED</a></li>
                    <li><a href="#" class="uk-contrast"><i class="uk-icon-link"></i> Tartes aux pommes</a></li>
                    <li><a href="#" class="uk-contrast"><i class="uk-icon-link"></i> Citrons</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>