{% load staticfiles %}

<div id="div_footer_1" class="footer">
    <div class="uk-container uk-container-center">
        <div class="uk-grid uk-margin-top uk-contrast">
            <div class="uk-width-1-2">
                OPTO Logic TECHNOLOGY S.A. &copy 2009 - {{ year_copyright }} All rights reserved. {{ user.authenticated }}
            </div>
            <div class="uk-width-1-2">
                <ul class="uk-subnav uk-align-right">
                    <!-- Liens à determiner -->
                    <li class=""><a href="#">Legal</a></li>
                    <li class=""><a href="#">Privacy</a></li>
                    <li class=""><a href="#">Cookie Information</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>