{% load staticfiles %}
<nav class="bg transition uk-navbar   uk-hidden-large">
    <a href="{% url 'landing-page' %}" class="uk-navbar-brand">
      <img src="{% static 'img/logo_opto_vecto_white.svg' %}" alt="OPTO Logic TECHNOLOGY SA" width="160px">
    </a>
    <div class="uk-navbar-flip uk-navbar-toggle uk-contrast" data-uk-offcanvas="{target:'#offcanvas-4'}"></div>
    <!-- ================================================================================================================== -->
    <div aria-hidden="true" id="offcanvas-4" class="uk-offcanvas">
        <div class="uk-offcanvas-bar uk-offcanvas-bar-flip uk-text-small">
            <ul class="uk-nav uk-nav-offcanvas uk-nav-parent-icon uk-text-small" data-uk-nav>
                <!-- section products -->
                <li aria-expanded="true"  class="uk-parent">
                    <a href="#" >Products</a>
                    <ul class="uk-nav uk-nav-offcanvas uk-nav-parent-icon" data-uk-nav>
                        <!---- New product line ---->
                        <li aria-expanded="false" class="uk-parent">
                            <a href="#" class="uk-margin-left">Displays</a>
                            <ul class="uk-text-small uk-margin-large-left">
                                <li><a href="{% url 'tft_landing' %}" ><p> TFT Displays</p></a></li>
                                <li><a href="{% url 'lcd_graphic' %}"> <p>LCD Graphic</p></a></li>
                                <li><a href="{% url 'lcd_segment' %}"> <p>LCD Segment</p></a></li>
                                <li><a href="{% url 'oled_landing' %}"> <p>OLED</p></a></li>
                                <li><a href="{% url 'epaper_landing' %}"> <p><e></e>PAPER</p></a></li>
                                <li><a href="{% url 'custom_landing' %}"> <p>CUSTOM Displays</p></a></li>
                            </ul>
                        </li>
                        <!---- New product line ---->
                        <li aria-expanded="false" class="uk-parent">
                            <a href="#" class="uk-text-small uk-margin-left">Touch Panel</a>
                            <ul class="uk-text-small uk-margin-large-left">
                                <li><a href="#"><p>PCAP</p></a></li>
                                <li><a href="#"><p>RTP</p></a></li>
                            </ul>
                        </li>
                        <!---- New product line ---->
                        <li aria-expanded="false" class="uk-parent">
                            <a href="#" class="uk-text-small uk-margin-left">Thermal Printers</a>
                            <ul class="uk-text-small uk-margin-large-left">
                                <li><a href="{% url 'panel_printer_landing' %}"><p>Panel printer</p></a></li>
                                <li><a href="{% url 'mobile_printer_landing' %}"><p>Mobile printer</p></a></li>
                                <li><a href="{% url 'pos_printer_landing' %}"><p>Pos printer</p></a></li>
                                <li><a href="#"><p>Mechanism</p></a></li>
                            </ul>
                        </li>
                        <!---- New product line ---->
                        <li aria-expanded="false" class="uk-parent">
                            <a href="#" class="uk-text-small uk-margin-left">Computers</a>
                            <ul class="uk-text-small uk-margin-large-left">
                                <li><a href="#"><p>Industrial PCs</p></a></li>
                                <li><a href="#"><p>Monitors</p></a></li>
                                <li><a href="#"><p>System On Module</p></a></li>
                            </ul>
                        </li>
                        <!---- New product line ---->
                        <li aria-expanded="false" class="uk-parent">
                            <a href="#" class="uk-text-small uk-margin-left">Others</a>
                            <ul class="uk-text-small uk-margin-large-left">
                                <li><a href="#"><p>Laser diodes</p></a></li>
                                <li><a href="#"><p>POS systems</p></a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>
            <ul class="uk-nav uk-nav-offcanvas uk-nav-parent-icon" data-uk-nav>
                <!-- section solutions -->
                <li aria-expanded="false" class="uk-parent">
                    <a href="#" class="uk-text-small">Solutions</a>
                    <ul class="uk-text-small">
                    </ul>
                </li>
            </ul>
            <ul class="uk-nav uk-nav-offcanvas uk-nav-parent-icon" data-uk-nav>
                <!-- section partners -->
                <li aria-expanded="false" class="uk-parent">
                    <a href="#" class="uk-text-small">Partners</a>
                    <ul class="uk-text-small">
                    </ul>
                </li>
            </ul>
            <ul class="uk-nav uk-nav-offcanvas uk-nav-parent-icon" data-uk-nav>
                <!-- section Company -->
                <li aria-expanded="false" class="uk-parent">
                    <a href="#" class="uk-text-small">Company</a>
                    <ul class="uk-text-small">
                    </ul>
                </li>
            </ul>
            <ul class="uk-nav uk-nav-offcanvas uk-nav-parent-icon" data-uk-nav>
                <!-- section support -->
                <li aria-expanded="false" class="uk-parent">
                    <a href="#" class="uk-text-small">Support</a>
                    <ul class="uk-text-small">
                    </ul>
                </li>
                <li class="uk-nav-divider"></li>
            </ul>
            <ul class="uk-nav uk-nav-offcanvas uk-nav-parent-icon" data-uk-nav>
                <!-- section Contact -->
                <li aria-expanded="false" class="uk-parent">
                    <a href="{% url 'envelope-contact' %}" class="uk-icon-envelope-o uk-icon-float-right uk-text-small">Contact</a>
                    <ul class="uk-text-small">
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
