{% load staticfiles %}
<!-- SECTION 1 VISIBILITY LARGE/MEDIUM -->
    <div class="uk-grid uk-hidden-small uk-panel">
        <div class="uk-width-1-2">
            <article class="uk-text-justify ">
                <h1 class="">TFT GRAPHIC</h1>
                <p class=""> To communicate information and to manage datas, colour pictures and high rendering TFT displays are very fashionables.
                    We have the following sizes: from 2.4&quot; to 15&quot; or more. The available resolutions may vary from 160 x 240 to 1024 x 768.
                    For reading the text, the sense of reading may be in Landscape or Portrait versions.
                    For the Backlight type we dispose of different techniques: LED, CCFL.
                    We dispose of all kinds of Digital or Analog TFT from our standard lists and of special dedicated solutions with broad temperature range, high luminosity, integrated touch panel, for example.</p>
                    <a class="uk-margin-top uk-button uk-button-primary" href="#">Contact us</a>
            </article>
        </div>
        <div class="uk-width-1-2">
            <a class="uk-margin-large-left"><img class="" src="{% static 'img/tft_displays_details/rezised_tft.png' %}" alt="" height="" width=""></a>
        </div>
    </div>

    <!-- SECTION 1 VISIBILITY SMALL -->
    <div class="uk-visible-small">
        <figure class=" uk-overlay uk-overlay-hover">
            <img src="{% static 'img/display_page/pic001_tft.png' %}">
            <figcaption class="uk-overflow-container  uk-overlay-panel uk-overlay-background  uk-overlay-slide-left">
                <h4>TFT GRAPHIC</h4>
                <p class="uk-margin-remove uk-overflow-container uk-text-justify">To communicate information and to manage datas, colour pictures and high rendering TFT displays are very fashionables.
                We have the following sizes: from 2.4&quot; to 15&quot; or more. The available resolutions may vary from 160 x 240 to 1024 x 768.
                For reading the text, the sense of reading may be in Landscape or Portrait versions.
                For the Backlight type we dispose of different techniques: LED, CCFL.
                <a class="uk-align-bottom uk-align-right uk-button uk-button-primary" href="#">Contact us</a>

            </figcaption>
        </figure>
    </div>