{% load staticfiles %}
<!---------- ----------><!---------- ----------><!---------- ----------><!---------- ----------><!---------- ---------->
<!----------                                  SlideShow                                                      ---------->
<!---------- ----------><!---------- ----------><!---------- ----------><!---------- ----------><!---------- ---------->
<div id="products_slideshow" class="uk-contrast">
    <ul class="uk-slideshow" data-uk-slideshow="{kenburns:'5s', autoplay:'true' , autoplayInterval:'5000'}">
        <li class="uk-panel-slide">
            <img src="{% static 'img/_slideshow/ss_pic_2.JPG' %}">
            <div class="uk-overlay-panel uk-overlay-fade uk-flex-center uk-flex-middle uk-text-center">
                <h2>Yolo 1</h2>
                <p>Yolo</p>
            </div>
        </li>
        <li class="uk-panel-slide">
            <img src="{% static 'img/_slideshow/ss_pic_3.JPG' %}">
            <div class="uk-overlay-panel uk-overlay-fade uk-flex-center uk-flex-middle uk-text-center">
                <h2>Yolo 2</h2>
                <p>Yolo</p>
            </div>
        </li>
        <li class="uk-panel-slide">
            <img src="{% static 'img/_slideshow/ss_pic_4.JPG' %}">
            <div class="uk-overlay-panel uk-overlay-fade uk-flex-center uk-flex-middle uk-text-center">
                <h2>Yolo 3</h2>
                <p>Yolo</p>
            </div>
        </li>
        <li class="uk-panel-slide">
            <img src="{% static 'img/_slideshow/ss_pic_5.JPG' %}">
            <div class="uk-overlay-panel uk-overlay-fade uk-flex-center uk-flex-middle uk-text-center">
                <h2>Yolo 4</h2>
                <p>Yolo</p>
            </div>
        </li>
    </ul>
</div>
