{% extends "structure/_base.html" %}

{% block slideshow %}
  {% include 'tfts/_slideshow_tft.html' %}
{% endblock %}

{% block content %}
    <!-- MARGIN DIV -->
    <div class="uk-container uk-container-center">
        {% include 'tfts/_bread_crumb.html' %}
        {% include 'tfts/_main_article.html' %}
        {% include 'tfts/_tft_list.html' %}
    </div>
{% endblock %}

{% block script_de_fin %}
    <script>
        $( document ).ready(function() {
            $('html,body').animate({
               scrollTop: $("#GoToList").offset().top},
               'slow');
        });
    </script>
{% endblock %}

