{% extends "structure/_base.html" %}
{% load staticfiles %}

{% block extraHeader %}
    <link rel="stylesheet" type="text/css" href="{% static 'style/css/tft/tft_style.css' %}" />
{% endblock %}

{% block slideshow %}
  {% include 'tft/_slideshow_tft.html' %}
{% endblock %}

{% block breadcrumb %}
    {% include 'templates/tft/_bread_crumb.html' %}
{% endblock %}

{% block content %}
    <!-- MARGIN DIV -->
    <div class="uk-container uk-container-center">

        {% include 'templates/tft/_main_article.html' %}
        {% include 'templates/tft/_tft_list.html' %}
    </div>
{% endblock %}

{% block script_de_fin %}
{% endblock %}

