.container {
  font-family: 'Trebuchet Ms';
}

/* Class .show is used in _main.js to show the bg opactity and add a border when scrolling down.*/
.show {
  background-color : #00c0b5;
  box-shadow: 3px 2px 5px 1px #222;
}

.transition {
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}



