/*---------------------------------------------------owl customization -----------------------------------------------*/
/*
/* 	Owl Carousel Owl Demo Theme
/*	v1.23
/*--------------------------------------------------------------------------------------------------------------------*/
#owl-index .owl-carousel .item img{
    display: block;
    max-height: 100vh !important;
}
/*--------------------------------------------------------------------------------------------------------------------*/

[class*="fontawesome-"]:before {
  font-family: 'FontAwesome', sans-serif;
}

* {
  box-sizing: border-box;
  &:before, &:after {
    box-sizing: border-box;
  }
}